FORMAT: 1A
HOST: http://api.pushappy.com/v2

# Pushappy API

## Authentication

Pushappy's API uses the [OAuth 2.0 protocol](http://tools.ietf.org/html/draft-ietf-oauth-v2-12) for simple, but effective authentication and authorization.

Pushappy's API requires that you authenticate to use the API. Authentication can be made as a client or as a user. User authentication is only needed when making request specifically on the behalf of a user. When Authentication is made an access token is given. These tokens are unique to a client or user and should be stored securely. Access tokens may expire at any time in the future.

## HTTP Headers

For authentication the *Authorization* header is used. A client specifies the header as `Authorization: Bearer <access token>`

The response content type is specified by the *Accept* header. For example a client can specify that the response should use JSON encoded by using the `Accept: application/json` request header.

*gzip* compression is supported. A client can specify that gzip responses can be handled using the `Accept-Encoding: gzip` request header.

::: warning
#### <i class="fa fa-warning"></i> Caution
For `PATCH` request if a value is `null` or `undefined`, then the corresponding value is not modified on the server. However, if you send an empty string instead then it will **permanently overwrite** the original value.

<!-- include(authorization.apib) -->
<!-- include(users.apib) -->
<!-- include(notifications.apib) -->
<!-- include(organizations.apib) -->
<!-- include(organization_roles.apib) -->
<!-- include(teams.apib) -->
<!-- include(followups.apib) -->
<!-- include(products.apib) -->
<!-- include(sales.apib) -->
<!-- include(posts.apib) -->
<!-- include(message.apib) -->